[data-component='Chat']{
  height: 100%;
  width: 100%;
  background-color: red;


  // .container {
  //   position: relative;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   background: #FFFFFF;
  //   // border-radius: 8px;
  //   height: 60%;
  //   width: 35%;
  // }

  // .loading{
  //   position: absolute;
  //   left: 50%;
  //   top: 15%;
  //   z-index: 10;//
  //   transform: translateX(-50%);
  // }

}